<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Prac1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Reverse</display-name>
    <servlet-name>Reverse</servlet-name>
    <servlet-class>com.prac.practical.Reverse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reverse</servlet-name>
    <url-pattern>/reverse</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>F1</display-name>
    <filter-name>F1</filter-name>
    <filter-class>com.prac.practical.F1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>F1</filter-name>
    <url-pattern>/f</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>f2</display-name>
    <filter-name>f2</filter-name>
    <filter-class>com.prac.practical.f2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f2</filter-name>
    <url-pattern>/f</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>s1</display-name>
    <servlet-name>s1</servlet-name>
    <servlet-class>com.prac.practical.s1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/f</url-pattern>
  </servlet-mapping>
</web-app>